doctype XML
rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
	channel
		title Neurotransmissão
		link http://impulso.hiperativo.co
		language pt-br
		copyright= CGI.escapeHTML "Pedro Maciel & Beatriz Accioly"
		itunes:subtitle Transmissão de conteúdo de impulso hiperativo
		itunes:author Pedro Maciel
		itunes:summary 
			| No neurotransmissão, conversamos sobre temas variando entre web, design e tecnologia de forma impulsiva e hiperativa.
		itunes:owner
			itunes:name Pedro Maciel
			itunes:email pedro.maciel@hiperativo.co

		itunes:image href="http://commondatastorage.googleapis.com/hiperativo%2Fuploads%2Fneurotransmissao.jpg"
		itunes:category text="Society &amp; Culture"

		- for impulso in @impulsos
			item
				title= impulso.titulo
				itunes:author Pedro Maciel
				itunes:subtitle= Sanitize.clean(impulso.conteudo)
				itunes:summary= Sanitize.clean(impulso.conteudo)
				itunes:image href="http://jovemnerd.ig.com.br/wp-content/themes/jovemnerd_v2b/images/MRG_FEED.jpg"
				enclosure type="audio/mpeg" url=impulso.audio.url
				/ guid http://example.com/podcasts/archive/aae20050615.m4a
				pubDate= impulso.created_at
				/ itunes:duration 7:04