body.preto
	.row-fluid.centralizado-verticalmente
		.span3.about.amarelo
			markdown:
				# Resumindo
				Um estúdio de design localizado em São Paulo que faz
				sites, vídeos e materiais impressos com foco em velocidade e simplicidade.
					
		.span3.equipe
			markdown:
				# Equipe
				#{link_to "Pedro Maciel", 		"http://be.net/pedrozath/frame"}, 
				#{link_to "Beatriz Accioly", 	"http://be.net/beatrizagomes/frame"}, 
				#{link_to "Thuany Serpa", 		"http://be.net/occisioth/frame"},
				#{link_to "Chris Seki", 		"http://be.net/chrisseki/frame"},
				 e outros colaboradores.

		.span3.portfolio
			markdown:
				# Portfolio
				Desculpe, mas por diversos motivos, apenas
				apresentamos nossos trabalhos pessoalmente.
				#{link_to "Vamos tomar um café?", "contato"}

		= link_to "Contato >", "contato", :class => "contato span3"