h2 Vamos tomar um café?

ul data-role="listview"

	li
		markdown:
			##### Bater um papo
			Muitos escritórios e agencias parecem falhar no que é mais 
			importante neste ramo: a **comunicação**. Deixam de lado
			a verdadeira essência desse mercado.

	li
		markdown:
			##### Definir metas e objetivos
			È impossível executar um bom trabalho sem antes
			definirmos o que de fato queremos atingir.

	li
		markdown:
			##### Não precisa ser café!
			Pode ser suco ou simplesmente água.
			Pode ser via skype também. O importante 
			é a gente se conhecer.

	li
		markdown:
			##### Formas de contato
			__skype:__ opa@hiperativo.co  
			__email:__ opa@hiperativo.co  
			__fone(pedro):__ +55 11 9 9979 3777  
			__fone(bia):__ +55 11 9 9925 4838  	