body.preto
	.container
		.row.centralizado-verticalmente
			.span12
				markdown:
					# Vamos tomar um café?

			.span3
				markdown:
					##### 1. Bater um papo
					Muitos escritórios e agencias parecem falhar no que é mais 
					importante neste ramo: a **comunicação**. Deixam de lado
					a verdadeira essência desse mercado.

			.span3
				markdown:
					##### 2. Definir metas e objetivos
					È impossível executar um bom trabalho sem antes
					definirmos o que de fato queremos atingir.

			.span3
				markdown:
					##### 3. Não precisa ser café!
					Pode ser suco ou simplesmente água.
					Pode ser via skype também. O importante 
					é a gente se conhecer.

			.span3
				markdown:
					##### 4. Formas de contato
					__skype:__ opa@hiperativo.co  
					__email:__ opa@hiperativo.co  
					__fone:__ +55 11 9 9979 3777  