//= require bootstrap
@import "bourbon/bourbon"

@import url(https://fonts.googleapis.com/css?family=Raleway);

@font-face
	:font-family "Neuton"
	:font-weight 100
	:src url("/assets/neuton/Neuton-ExtraLight.ttf")

@font-face
	:font-family "Neuton"
	:font-weight 300
	:src url("/assets/neuton/Neuton-Light.ttf")

@font-face
	:font-family "Neuton"
	:font-weight 500
	:src url("/assets/neuton/Neuton-Regular.ttf")

@font-face
	:font-family "Neuton"
	:font-weight 700
	:src url("/assets/neuton/Neuton-Bold.ttf")

@font-face
	:font-family "Neuton"
	:font-weight 900
	:src url("/assets/neuton/Neuton-ExtraBold.ttf")

@font-face
	:font-family "Neuton"
	:font-weight 500
	:font-style italic
	:src url("/assets/neuton/Neuton-Italic.ttf")

// @font-face
// 	:font-family "FedraSerifA"
// 	:font-weight "book"
// 	:src url("/assets/fedra-serif-a-book.otf")

$amarelo: #ffde00
$preto: #000
$branco: #eee

$tipo_titulo: "Raleway"
$tipo_subtitulo: "Bree Serif"
$tipo_corpo: "Raleway"

$comeco_do_site: 100px


.wrapper
	:background-color $amarelo
	:width 100%
	:height 100%
	:display block
	:position fixed
	:z-index -1
	:overflow hidden

body
	:background-color #fff
	:color $preto
	:overflow scroll-x
	:padding-bottom 40px
	:font-size 20px

body, p, ul
	:font normal normal normal 14px/1.4 $tipo_corpo

html.animations
	.logo, .conteudo, section, .logotipo, nav, .bg, .wrapper, .front-face, .back-face, .thumbnail
		@include transition(all 400ms ease-in-out)
		-webkit-backface-visibility: hidden
	// body
	// 	@include transition(background-color 200ms ease-in-out)

h1, h2
	:font-family $tipo_titulo
	:font-weight "medium"
	:font-size golden-ratio(100px, -1)
h2
	:margin-bottom golden-ratio(100px, -3)

.logotipo
	:position fixed
	:margin-top -30px
	:height 65px

h3, h4, h5, nav a
	:font-family $tipo_subtitulo
	:line-height 1.618

article
	:padding-bottom golden-ratio(16px, 2)

	header, p
		:margin golden-ratio(16px, 0) 0		

	header
		:border-top 2px dotted $preto
		:border-bottom 2px dotted $preto
		:padding golden-ratio(16px, -1) 0
		:background transparent no-repeat url("/assets/pilula-hiperativo.png") golden-ratio(100%, -7) golden-ratio(100%, -1)
		// :background-color $amarelo

	
		h3, h2
			:padding golden-ratio(16px, -3)
			:padding-left (golden-ratio(100%, -5))
			:margin 0

		h2
			:font-size golden-ratio(16px, 2)
			// :background-color $preto
			// :color $amarelo

		h3
			:font-size golden-ratio(16px, -1)
			:text-transform uppercase


		h1, h2
			:text-transform lowercase

	p
		:padding-left golden-ratio(100%, -4)
		:padding-right golden-ratio(100%, -2)

		&:nth-child(odd)
			:padding-left golden-ratio(100%, -4) + golden-ratio(100%, -8)

	p, span.lead
		:font-size 22px
		:line-height (2-1.618)
		:font-family "Neuton"
		:font-weight 300
		:color lighter($preto, 100%)
	
		&.lead, strong
			:text-transform uppercase
			:font-size 15px
			:font-weight 700

section.blog
	:display block
	header
		:padding 16px
		
		h1, img
			:margin golden-ratio(16px, -2)

		h1
			:line-height 1.2
			:font-size golden-ratio(16px, -1)
			// :background-color $amarelo

.formulario-de-contato
	:background-color $branco
	:border none
	:border-radius 0
	:background-color #ffffee
	:color #440000
	:-webkit-transform rotate(-2deg)

	&.well
		:background-color $branco
		:border none
		:border-radius 0
		:background-color #ffffee
		:color #440000
		:-webkit-transform rotate(-2deg)

	input[type=text]
		:box-shadow none
		:border none
		:border-bottom 2px dotted transparentize(#440000, 0.87)
		:border-radius 0px
		:width auto
		:padding 0px
		:font-size 14px
		:margin-bottom 3px

	input[type=text], textarea
		:color #ff2222
		:background none

	textarea
		:background none
		:border 2px dotted transparentize(#440000, 0.87)

	h2
		:opacity 0.5
		:font-size 30px
		:margin 0
		:text-transform uppercase

.centered
	:padding-top 100px

section.sobre, section.blog
	ul
		:margin-left 0px
		:list-style-type none
		:list-style-position outside

		li
			:background transparent no-repeat url("/assets/rainho.png") 0px 12px
			:padding-left 20px
			:margin-left -20px
			:padding-top 10px
			:border-top 2px dotted transparentize($preto, 0.8)

.logo
	:margin-top -(golden-ratio(100px, 0)/2)
	:width 100px
	:height golden-ratio(100px, 0)
	:margin-left - golden-ratio(100px, 0)
	:z-index 1

	&:hover
		@include transform(rotate(720deg))

.logo, .logotipo, nav
	:position fixed
	:left golden-ratio(100%, -3)
	:top 50%

@-webkit-keyframes bg
	0%
		:left 100%
		@include transform(rotate(0deg))

	100%
		:left -30%
		@include transform(rotate(1080deg))

.bg	
	:position absolute
	:opacity 0.1

.logotipo, .logo, .bg
	-webkit-user-select: none

.logotipo
	:left golden-ratio(100%, -3)
	:margin-left 20px
	:z-index 2
	:cursor default

h3
	:font-size 20px

a
	:color $preto
	:text-decoration none

	&.active
		:opacity 0.7

		&:hover
			:cursor default
			:background-color transparent
			:color $preto

	&:hover
		:color $amarelo
		:background-color $preto
		:text-decoration none

nav
	:color transparentize($preto, 0.8)
	@include transform-origin(-10px)
	@include transform(perspective(400px) rotateY(0deg))
	:margin-left 438px
	:z-index 5

nav.from
	@include transform(perspective(400px) rotateY(90deg))

.conteudo
	:position absolute
	:left golden-ratio(100%, -3)
	:top 50%
	:margin-left 20px

section
	:display none

	a
		:text-decoration underline

.pessoa
	:z-index 4
	text-align: center
	width: 200px
	height: 280px
	position: relative

	.front-face
		position: absolute
		height: 100%
		width: 100%
		-webkit-transform: rotateY(0deg)
		-webkit-backface-visibility: hidden

	.back-face
		position: absolute
		height: 100%
		width: 100%
		-webkit-transform: rotateY(180deg)
		-webkit-backface-visibility: hidden

	// &:hover
	// 	.front-face
	// 		-webkit-transform: rotateY(180deg)
	// 		img
	// 			:opacity 0.2

	// 	.back-face
	// 		-webkit-transform: rotateY(0deg)


body[data-page]

	.logotipo
		:left 0
		:top 0
		:font-size golden-ratio(100px, -3)
		:margin 10px 20px
		:cursor pointer
		:height 25px
		&:hover
			:text-decoration underline

	nav
		:left 195px
		:top 0
		:margin 20px 0

	.logo
		:position absolute
		:left golden-ratio(100%, -3)
		:top $comeco_do_site
		:margin-left - golden-ratio(60px, 0)
		:width 60px
		:height 60px
		:opacity 0.3
		:margin-top 18px


body[data-page=sobre]
	:background-color #fff

	section.sobre
		:display block

	.wrapper
		:height 60px
		:z-index 1

	.conteudo
		:position absolute
		:left golden-ratio(100%, -3)
		:top $comeco_do_site
		:margin-left 20px

body[data-page=pessoas]

	section.pessoas
		:display block

	.logo
		:position fixed
		:left 300px
		:top -500px
		:width 2000px
		:height 2000px
		:opacity 0.2
		:margin-left - golden-ratio(100px, 0)

		&:hover
			:-webkit-transform none

	h2
		:text-align center

	.conteudo
		:position absolute
		:left golden-ratio(100%, -3)
		:top $comeco_do_site
		:margin-top - golden-ratio(100px, -3)
		:margin-left 20px

body[data-page=trabalhos]
	-webkit-backface-visibility: visible
	:background-color #333

	.wrapper
		:height 60px

	section.trabalhos
		:display block

	.logo
		:opacity 0

	.conteudo
		:position static
		:display block
		:padding-top 100px

body[data-page=contato]
	
	section.contato
		:display block

	.logo
		:position fixed
		:left golden-ratio(100%, -3)
		:top $comeco_do_site
		:margin-left - golden-ratio(100px, 0)
		:opacity 0

	.conteudo
		:position absolute
		:left golden-ratio(100%, -3)
		:top $comeco_do_site
		:margin-top - golden-ratio(100px, -3)
		:margin-left 20px

