//= require bootstrap_and_overrides
//= require _font-awesome

@import "bourbon"
@import "fonts"

$amarelo: #ffde00
$amarelo_claro: transparentize($amarelo, 0.9)
$branco: #fff
$preto: #333
$cinza_claro: transparentize($preto, 0.98)
$cinza: transparentize($preto, 0.90)
$cinza_escuro: transparentize($preto, 0.30)

$tipo_corpo: "Proxima Nova"
$tipo_titulo: "Miso"


// Large display		1200px and up	70px	30px
// Default				980px and up	60px	20px
// Portrait tablets		768px and above	42px	20px
// Phones to tablets	767px and below	Fluid columns, no fixed widths
// Phones				480px and below	Fluid columns, no fixed widths


=desktop
	@media (min-width: 1220px)
		@content
 
=tablet
	@media (min-width: 768px) and (max-width: 979px)
		@content
 
=mobile-de-lado
	@media (max-width: 767px)
		@content
 
=mobile
	@media (max-width: 480px)
		@content

$borda: dotted 1px $preto

body
	:font 18px/1.4 $tipo_corpo
	:font-weight 300

	+desktop
		:font-size 22px
		:font-weight 300

	+mobile-de-lado
		:padding 0
	
	+mobile
		:font-size 12px
		:font 14px/1.4 Georgia
		:font-weight 500


	> header
		// :border-bottom dotted 1px $preto
		:background-color $cinza_claro
		// :margin-bottom 40px
		:font-family "Proxima Nova"
		:border-top 2px solid $amarelo

	> section
		:margin 0 20px
		:padding 20px 0
		// :background transparent image-url("vert-border.png") repeat-y 10px 0

	> footer


p
	:margin-bottom 20px

h1
	:font-size 14px
	:font-weight 300
	:padding 10px
	:margin 0
	// :color $branco

	a
		:font-weight 700
		:padding 10px
		// :background-color $amarelo
		:margin-right 10px

.btn
	:color $amarelo
	:text-decoration none
	:font-family $tipo_titulo
	:font-size 20px
	:text-transform uppercase
	:font-weight 900
	:padding 10px
	:line-height 1
	:text-shadow 1px 1px $cinza

	:background none
	:background-color $preto

	&:hover
		:background-color $amarelo
		:color $preto

	&.btn-primary
		:color $preto
		:background none
		:background-color $amarelo

		&:hover
			:background-color $preto
			:color $amarelo


h2, h3, h4, h5
	:padding 0
	:margin 0

h2, h3
	:text-shadow -3px 3px $amarelo

	a:hover
		:opacity 1
		:text-shadow -3px 3px $preto
		:color $amarelo

article
	:padding-bottom 40px
	
	header 
		h3
			:margin -10px 3px
			:background-color $preto
			:color $branco
			:padding 3px
			:text-transform uppercase
			:font-size 10px
			:line-height 1
			:display inline
			:text-shadow none
			:font-family $tipo_corpo

	&.show header, .conteudo, footer
		// :text-align justify
		:margin-left 160px
		:width 700px

		+desktop
			:margin-left 200px
			:width 800px
			// :text-align justify

		+tablet
			:margin-left 125px
			:width 630px

		+mobile-de-lado
			:width auto
			:margin-right 0
			:margin-left 0

	p, li
		> a
			:text-decoration underline
			&:hover
				:background-color $amarelo
				:text-decoration underline
				:opacity 1



	ul, ol
		:margin 0
		:padding-bottom 10px
		:font-style normal
		
		li
			:color $preto
			:line-height 1.4
			:margin 5px 0 10px 0
	ol li 
		:padding 2px 5px 0 5px
		:background-color $amarelo_claro
		:font-size 14px
		:text-transform uppercase
		:letter-spacing 3px
		:border-left 5px solid $preto
	
	ul
		:list-style-type square
		:list-style-position inside
		:padding 0
		:margin-bottom 20px
		:border-bottom $borda

		li
			:border-top $borda
			:padding 5px 0 5px 0
			:margin 0

	&.show
		.impulso
			:display none
			:font-size 14px

	footer
		:padding 20px 0
		:padding-top 0
		:border-top $borda
		:font-size 14px
		:font-weight 500

		h5
			:font-size 20px
			:font-family $tipo_titulo
			:text-transform uppercase

		cite
			:font-size 14px

h3
	:font-size 40px
	:line-height 1.4
	:margin 10px 0

h2, h2 a, h3
	:font-family "Miso"
	:font-weight 700
	:text-transform uppercase

h2, h2 a
	:line-height 1.0
	:font-size 70px

	+mobile-de-lado
		:font-size 50px

	+mobile
		:font-size 40px

h4
	:margin-top 0
	:font-weight 300

	+mobile
		:font-size 10px

hr
	:margin 20px 0
	:height 40px
	:border none
	:background-image image-url("pattern-1.png")

.eye-guide
	// :background-color $amarelo

a
	color: $preto

	&:hover
		:color $preto
		:opacity 0.5
		:text-decoration none

.breadcrumb
	:background-color transparent
	:padding 20px
	:font-size 14px

	li 
		:text-shadow none

	+mobile
		:background-color $preto
		:padding 10px
		
		li, li a
			:color $branco

.nav.nav-pills
	:margin-bottom 0
	li
		margin: 0 5px 5px 0
		a
			:border-radius 0
			:background-color $amarelo
			:color $preto
			:padding 10px 10px 5px 10px
			:font-size 20px
			:font-family "Miso"
			:font-weight 500
			:line-height 1.0
			:text-transform uppercase

		a:hover
			:border-radius 0
			:background-color $preto
			:color $amarelo