//= require bootstrap_and_overrides
//= require _font-awesome

@import "bourbon"

@font-face
	font-family: Miso
	font-weight: 300
	font-style: normal
	src: asset-url("miso-light.otf")

@font-face
	font-family: Miso
	font-weight: 500
	font-style: normal
	src: asset-url("miso-regular.otf")

@font-face
	font-family: Miso
	font-weight: 700
	font-style: normal
	src: asset-url("miso-bold.otf")




@font-face
	font-family: "Proxima Nova"
	font-weight: 800
	font-style: normal
	src: asset-url("ProximaNova-Extrabold.otf")

@font-face
	font-family: "Proxima Nova"
	font-weight: 700
	font-style: normal
	src: asset-url("ProximaNova-Bold.otf")

@font-face
	font-family: "Proxima Nova"
	font-weight: 700
	font-style: italic
	src: asset-url("ProximaNova-BoldLt.otf")

@font-face
	font-family: "Proxima Nova"
	font-weight: 900
	font-style: normal
	src: asset-url("ProximaNova-Black.otf")

@font-face
	font-family: "Proxima Nova"
	font-weight: 600
	font-style: italic
	src: asset-url("ProximaNova-SemiboldItalic.otf")

@font-face
	font-family: "Proxima Nova"
	font-weight: 600
	font-style: normal
	src: asset-url("ProximaNova-Semibold.otf")

@font-face
	font-family: "Proxima Nova"
	font-weight: 500
	font-style: italic
	src: asset-url("ProximaNova-RegItalic.otf")

@font-face
	font-family: "Proxima Nova"
	font-weight: 500
	font-style: normal
	src: asset-url("ProximaNova-Regular.otf")

@font-face
	font-family: "Proxima Nova"
	font-weight: 300
	font-style: normal
	src: asset-url("ProximaNova-Light.otf")


$amarelo: #ffde00
$branco: #fff
$preto: #333
$cinza_claro: transparentize($preto, 0.98)
$cinza: transparentize($preto, 0.90)

$tipo_corpo: "Proxima Nova"
$tipo_titulo: "Miso"


// Large display		1200px and up	70px	30px
// Default				980px and up	60px	20px
// Portrait tablets		768px and above	42px	20px
// Phones to tablets	767px and below	Fluid columns, no fixed widths
// Phones				480px and below	Fluid columns, no fixed widths


=desktop
	@media (min-width: 1200px)
		@content
 
=tablet
	@media (min-width: 768px) and (max-width: 979px)
		@content
 
=mobile-de-lado
	@media (max-width: 767px)
		@content
 
=mobile
	@media (max-width: 480px)
		@content

body
	:font 18px/1.4 $tipo_corpo
	:font-weight 300

	+desktop
		:font-size 22px
		:font-weight 300

	+mobile-de-lado
		:padding 0
	
	+mobile
		:font-size 12px
		:font 14px/1.4 Georgia
		:font-weight 500


	> header
		// :border-bottom dotted 1px $preto
		:background-color $cinza_claro
		:margin-bottom 40px
		:font-family "Proxima Nova"

	> section
		:margin 20px

p
	:margin-bottom 20px

h1
	:font-size 14px
	:font-weight 300
	:padding 10px
	:margin 0
	// :color $branco

	a
		:font-weight 700
		:padding 10px
		// :background-color $amarelo
		:margin-right 10px

h2, h3, h4, h5
	:padding 0
	:margin 0

article
	.conteudo
		// :text-align justify
		:width 700px
		:margin-left 160px

		+desktop
			:margin-left 200px
			:width 800px
			:text-align justify

		+tablet
			:margin-left 125px
			:width 630px

		+mobile-de-lado
			:width auto
			:margin-right 0
			:margin-left 0

h2, h2 a
	:font-family "Miso"
	:font-weight 700
	:font-size 70px
	:line-height 1.0
	:text-transform uppercase

	+mobile-de-lado
		:font-size 50px

	+mobile
		:font-size 40px

h4
	:margin-top 0
	:font-weight 300

	+mobile
		:font-size 10px

h3
	:margin -10px 3px
	:background-color $preto
	:color $branco
	:padding 3px
	:text-transform uppercase
	:font-size 10px
	:line-height 1
	:display inline

hr
	:margin 20px 0
	:height 40px
	:border none
	:background-image image-url("pattern-1.png")

.eye-guide
	// :background-color $amarelo

a
	color: $preto

	&:hover
		color: $preto
		text-decoration: none

.nav.nav-pills
	:margin-bottom 0
	li
		margin: 0 5px 5px 0
		a
			:border-radius 0
			:background-color $amarelo
			:color $preto
			:padding 10px 10px 5px 10px
			:font-size 20px
			:font-family "Miso"
			:font-weight 500
			:line-height 1.0
			:text-transform uppercase

		a:hover
			:border-radius 0
			:background-color $preto
			:color $amarelo